<app-header></app-header>
<main>
  <section class="section-main pad-70">
    <div class="headline">
      <span>Tech Innovation</span>
      <h1>Inovação e tecnológica para transformar negócios</h1>
    </div>
    <img ngSrc="assets/principal.png" alt="" width="300" height="300" />
  </section>
  <section class="section-benefic pad-70">
    <div class="data-benefic">
      <h2>Inovação é a chave do sucesso.</h2>
    </div>
    <p>
      Acreditamos que a inovação é a chave para o sucesso em um mercado em
      constante <b>evolução</b>. Nossos serviços são projetados para impulsionar
      a transformação digital, otimizar processos e aprimorar a experiência do
      cliente. Com soluções <b>personalizadas em tecnologia e negócios</b>,
      ajudamos sua empresa a se destacar da concorrência, aumentar a
      <b>eficiência</b>
      e abrir novas oportunidades de crescimento.
    </p>
  </section>
  <section class="cta-section">
    <app-btn-primary btn-text="Fale com nossos especialistas"></app-btn-primary>
  </section>
  <newsletter-form></newsletter-form>
    <section class="section-benefic pad-70">
        <app-benefic-card
            card-title="Equipe capacitada"
            img-path="assets/team.png"
            card-description=" Profissionais especializados, prontos para oferecer soluções inovadoras e de alta qualidade para atender às suas necessidades."
        >
        </app-benefic-card>
        <app-benefic-card
            card-title="Seus projetos guiados do zero"
            img-path="assets/project-guide.png"
            card-description="Orientação completa para transformar suas ideias em realidade, com acompanhamento em todas as etapas do desenvolvimento."
        >
        </app-benefic-card>
        <app-benefic-card
         card-title="Desenvolvimento Sob Medida"
            img-path="assets/carlos-muza-hpjSkU2UYSU-unsplash.jpg"
            card-description="Soluções adaptadas às necessidades específicas do seu negócio.">
        </app-benefic-card>
        <app-benefic-card
         card-title="Atendimento Personalizado"
            img-path="assets/christina-wocintechchat-com-2JDDn7iSGH8-unsplash.jpg"
            card-description="Foco em entender e superar as expectativas dos nossos clientes..">
        </app-benefic-card>
    </section>
    <section class="cta-section pad-70">
        <h2>Quer elevar seu software e seus<br/>
        negócios para outro nível?</h2>
        <app-btn-primary btn-text="fale com nossos especialistas"></app-btn-primary>
    </section>
    <app-footer></app-footer>
</main>
